@model Sprint.Models.Game

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3 style="color:white;font-style:italic;">Are you sure you want to delete @Model.Name?</h3>
<div>
    <hr />
    <dl class="row">
        <div class="col-sm-6">
            @foreach (var image in Model.GameImages)
            {
                <img class="img-fluid" src="@image.ImageURL">
            }
        </div>
        <div class="col-md-6">
            <h5 class="text-light">@Html.DisplayNameFor(model => model.Name)</h5>
            <p class="text-light">@Html.DisplayFor(model => model.Name)</p>

            <h5 class="text-light">@Html.DisplayNameFor(model => model.Developer)</h5>
            <p class="text-light">@Html.DisplayFor(model => model.Developer)</p>

            <h5 class="text-light">@Html.DisplayNameFor(model => model.GameType)</h5>
            <p class="text-light">@Html.DisplayFor(model => model.GameType.Name)</p>
        </div>      
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="GameId" />
        <input type="submit" value="Delete" class="btn btn-danger w-25" /> 
        <a class="btn btn-primary w-25" role="button" asp-action="Index">Back to List</a>
    </form>
</div>
