@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@model Sprint.ViewModels.GameViewModel

@{
    ViewData["Title"] = @Model.Game.Name;
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script language="javascript">
    function change_image(src) {
        document.getElementById("imagePopupImg").src = src;
    }
</script>

<div class="container">
    <div class="row">
        <div class="col-md">
            <h4 class="text-light font-weight-light text-uppercase">
                <i class="fa fa-gamepad text-secondary pr-2" aria-hidden="true"></i>@Model.Game.Name
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <img class="img-fluid" src="@Model.Image.ImageURL">
        </div>
        <div class="col-md-4">
            <h5 class="text-light">@Html.DisplayNameFor(model => model.Game.Developer)</h5>
            <p class="text-light">@Html.DisplayFor(model => model.Game.Developer)</p>

            <h5 class="text-light">@Html.DisplayNameFor(model => model.Game.GameType)</h5>
            <p class="text-light">@Html.DisplayFor(model => model.Game.GameType.Name)</p>

            @if (Model.Discount != null)
            {
                <h5 class="text-light">@Html.DisplayNameFor(model => model.Discount.DiscountPrice)</h5>
                <div class="d-flex p-2">
                    <div class="mr-2">
                        <span class="moist-discount-regular-price text-secondary">@Model.Game.RegularPrice</span>
                        <span class="moist-discount-price text-light">@Model.Discount.DiscountPrice</span>
                    </div>
                    <span class="moist-discount-percent rounded">@string.Format("{0:0%}", Model.Discount.DiscountPrice / Model.Game.RegularPrice)</span>
                </div>
                <small class="text-secondary">Deal ends: @(Model.Discount.DiscountFinish.ToString("MMM dd yyyy h:mm tt"))</small>
            }
            else
            {
                <h5 class="text-light">@Html.DisplayNameFor(model => model.Game.RegularPrice)</h5>
                <p class="text-light">@Html.DisplayFor(model => model.Game.RegularPrice)</p>
            }
        <div class="form-group">
            <h5 class="text-light">@Html.DisplayNameFor(model => model.AverageRating)</h5>
            @if (Model.AverageRating == 0)
            {
                <p style="font-style: italic;"> No reviews yet..</p>
                <a asp-route-id="@Model.Game.GameId" asp-controller="Reviews" asp-action="Index" class="btn btn-primary w-100">Add a Review</a>
            }
            else
            {
                <div class="rate">
                    <input asp-for="@Model.AverageRating" type="radio" id="star5" name="@Model.AverageRating" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input asp-for="@Model.AverageRating" type="radio" id="star4" name="@Model.AverageRating" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input asp-for="@Model.AverageRating" type="radio" id="star3" name="@Model.AverageRating" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input asp-for="@Model.AverageRating" type="radio" id="star2" name="@Model.AverageRating" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input asp-for="@Model.AverageRating" type="radio" id="star1" name="@Model.AverageRating" value="1" />
                    <label for="star1" title="text">1 star</label>
                </div>
                <a asp-route-id="@Model.Game.GameId" asp-controller="Reviews" asp-action="Index"  type="submit" class="btn btn-primary w-100">View Reviews</a>
            }

        </div>
        </div>
    </div>

    @if (Model.Images.Any())
    {
        // Images Carousel
        <div class="mt-4 mb-5">
            <div id="carouselExampleIndicators" class="carousel slide w-100" data-ride="carousel" data-interval="false">
                <div class="carousel-inner no-gutters">
                    @for (int i = 0; i < Model.Images.Count; i += 4)
                    {
                        <div class="carousel-item @(i == 0 ? "active" : "")">
                            <div class="row">
                                @for (int j = i; j < i + 4 && j < Model.Images.Count; j++)
                                {
                                    <div class="col-sm-3 p-1">
                                        <button type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#imagePopupModal" onclick="change_image('@Model.Images[j].ImageURL')">
                                            <img class="img-fluid" src="@Model.Images[j].ImageURL">
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
                @if (Model.Images.Count > 4)
                {
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                }
            </div>
        </div>

        // Image Popup
        <div class="modal fade bd-example-modal-lg" id="imagePopupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <img id="imagePopupImg" class="img-fluid" src="@Model.Image.ImageURL">
            </div>
        </div>
    }

    <hr />

    <div class="row">
        @if (SignInManager.IsSignedIn(User) && !User.IsInRole("Admin"))
        {
            @if (Model.IsOwned)
            {
                <div class="col-sm-8">
                    <h4 class="moist-bg-blue pt-1 pb-1 pl-2 pr-2 rounded-right">
                        <i class="fa fa-list pr-2" aria-hidden="true"></i>In Library
                    </h4>
                </div>
            }
            else
            {
                <div class="col-sm-4">
                    @if (Model.IsWishlisted)
                    {
                        <form class="w-100" asp-route-gameId="@Model.Game.GameId" asp-controller="Wishlist" asp-action="Remove" asp-route-returnUrl="@Url.Action("Details", "Game", new { id = @Model.Game.GameId })">
                            <button type="submit" class="btn btn-primary w-100">Remove from wishlist</button>
                        </form>
                    }
                    else
                    {
                        <form class="w-100" asp-route-gameId="@Model.Game.GameId" asp-controller="Wishlist" asp-action="Add" asp-route-returnUrl="@Url.Action("Details", "Game", new { id = @Model.Game.GameId })">
                            <button type="submit" class="btn btn-primary w-100">Add to wishlist</button>
                        </form>
                    }
                </div>
                <div class="col-sm-4">
                    @if (Model.IsInCart)
                    {
                        <form class="w-100" asp-route-gameId="@Model.Game.GameId" asp-controller="Cart" asp-action="Remove" asp-route-returnUrl="@Url.Action("Details", "Game", new { id = @Model.Game.GameId })">
                            <button type="submit" class="btn btn-primary w-100">Remove from Cart</button>
                        </form>
                    }
                    else
                    {
                        <form class="w-100" asp-route-gameId="@Model.Game.GameId" asp-controller="Cart" asp-action="Add" asp-route-returnUrl="@Url.Action("Details", "Game", new { id = @Model.Game.GameId })">
                            <button type="submit" class="btn btn-primary w-100">Add to Cart</button>
                        </form>
                    }
                </div>
            }
        }
        else if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <div class="col-sm-4">
                <a class="btn btn-primary btn-danger w-100" role="button" asp-action="Delete" asp-route-id="@Model.Game.GameId">Delete</a>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-primary w-100" role="button" asp-action="Edit" asp-route-id="@Model.Game.GameId">Edit</a>
            </div>
        }
        <div class="col-sm-4">
            <a class="btn btn-primary w-100" role="button" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
