@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@model Sprint.Models.Game

@{
    ViewData["Title"] = @Model.Name;
}

<h1>@Model.Name</h1>

<div>
    @foreach (var image in Model.GameImages)
    {
        <img class="d-block" src="@image.ImageURL">
    }
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Developer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Developer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameType.Name)
        </dd>

        @if (SignInManager.IsSignedIn(User))
        {
            <div class="col-4">
                @if (ViewBag.IsWishlisted)
                {
                    <form class="form-inline" asp-route-gameid="@Model.GameId" asp-controller="Wishlist" asp-action="Remove" asp-route-returnUrl="@Url.Action("Details", "Game", new { id = @Model.GameId })">
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Remove from wishlist</button>
                    </form>
                }
                else
                {
                    <form class="form-inline" asp-route-gameid="@Model.GameId" asp-controller="Wishlist" asp-action="Add" asp-route-returnUrl="@Url.Action("Details", "Game", new { id = @Model.GameId })">
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Add to your wishlist</button>
                    </form>
                }
            </div>
            <div class="col-4">
                <a class="btn btn-primary btn-block btn-lg" role="button" asp-area="" asp-controller="Game" asp-action="Index">Add to Cart</a>
            </div>
        }
    </dl>
</div>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div>
        <a asp-action="Delete" asp-route-id="@Model.GameId">Delete</a> |
        <a asp-action="Edit" asp-route-id="@Model.GameId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}
else
{
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
