@using Sprint.Enums;
@using Sprint.Data;

@model Sprint.ViewModels.WishlistViewModel

@{
    ViewData["Title"] = $"{Model.Username}'s Wishlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md">
            <h4 class="text-light font-weight-light text-uppercase">@Model.Username's Wishlist</h4>
        </div>

        @if (Model.Authorized)
        {
            <div class="col-md">
                <form class="form-inline float-right mb-2" asp-action="Edit">
                    <label class="text-light text-uppercase font-weight-light mr-4" for="select-visibility">Your wishlist can be seen by:</label>
                    <select onchange="this.form.submit()" class="form-control right" id="select-visibility" asp-for="WishlistVisibility" asp-items="@Html.GetEnumSelectList<WishlistVisibility>()"></select>
                </form>
            </div>
        }
    </div>

    @if (TempData["WishlistAdded"] is string)
    {
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="alert alert-success" role="alert">
            <i class="fa fa-heart mr-2" aria-hidden="true"></i>@TempData["WishlistAdded"]
        </div>
    }

    @if (TempData["WishlistRemoved"] is string)
    {
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="alert alert-secondary" role="alert">
            <i class="fa fa-times-circle mr-2" aria-hidden="true"></i>@TempData["WishlistRemoved"]
        </div>
    }
</div>

@if (Model.Games.Any())
{

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Developer</th>
                <th>Date Added</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Games)
            {
                string dateAdded = ((DateTime)item.AddedOn).ToString("MMM dd yyyy h:mm tt");

                <tr>
                    <td>
                        <a asp-controller="Game" asp-action="Details" asp-route-id="@item.Game.GameId">
                            <img height="50" width="100" src="@item.Game.GameImages.Where(i => i.GameId == item.GameId && i.ImageType == ImageType.Banner).FirstOrDefault().ImageURL">
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Game" asp-action="Details" asp-route-id="@item.GameId"  class="text-decoration-none" style="color:white">@Html.DisplayFor(modelItem => item.Game.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Game.Developer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => dateAdded)
                    </td>
                    <td>
                        @if (Model.Authorized)
                        {
                            <form class="form-inline" asp-route-gameid="@item.GameId" asp-action="Remove">
                                <button type="submit" class="btn btn-primary btn-block btn-sm">Remove</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4 class="text-light font-weight-light text-uppercase text-center">The wishlist is empty.</h4>
}
