@using Sprint.Enums

@model Sprint.ViewModels.WishlistViewModel

@{
    ViewData["Title"] = $"{Model.User.UserName}'s Wishlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function copy_to_clipboard(text) {
        var input = document.body.appendChild(document.createElement("input"));
        input.value = text;
        input.focus();
        input.select();
        document.execCommand('copy');
        input.parentNode.removeChild(input);
        alert("Copied link: " + text);
    }
</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4 class="text-light font-weight-lighter text-uppercase"><i class="fa fa-heart text-secondary pr-2" aria-hidden="true"></i>@Model.User.UserName's Wishlist</h4>
        </div>

        @if (User.Identity.Name == Model.User.UserName)
        {
            <div class="col-md-3 pt-1">
                @if (Model.WishlistVisibility != WishlistVisibility.OnlyMe)
                {
                    <a class="text-light cursor-pointer" data-toggle="tooltip" data-placement="top" title="Copy wishlist link"
                       onclick="copy_to_clipboard('@{<text>@Url.Action("Shared", "Wishlist", new { username = Model.User.UserName }, Url.ActionContext.HttpContext.Request.Scheme)</text>}')">
                        <i class="fa fa-copy text-secondary" aria-hidden="true"></i>
                        <span>Share wishlist</span>
                    </a>
                }
                else
                {
                    <p>Your wishlist is private</p>
                }
            </div>
            <div class="col-md-6">
                <form class="form-inline float-right mb-2" asp-action="Edit">
                    <label class="text-light text-uppercase font-weight-light mr-4" for="select-visibility">Your wishlist can be seen by:</label>
                    <select onchange="this.form.submit()" class="form-control right" id="select-visibility" asp-for="WishlistVisibility" asp-items="@Html.GetEnumSelectList<WishlistVisibility>()"></select>
                </form>
            </div>
        }
    </div>

    @if (TempData["WishlistAdded"] is string)
    {
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="alert alert-success" role="alert">
            <i class="fa fa-heart mr-2" aria-hidden="true"></i>@TempData["WishlistAdded"]
        </div>
    }

    @if (TempData["WishlistRemoved"] is string)
    {
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="alert alert-secondary" role="alert">
            <i class="fa fa-times-circle mr-2" aria-hidden="true"></i>@TempData["WishlistRemoved"]
        </div>
    }
</div>

@if (Model.Games.Any())
{
    <table class="table table-hover table-borderless rounded moist-bg-light moist-shadow moist-border-secondary mt-3">
        <tbody>
            @foreach (var item in Model.Games)
            {
                <tr>
                    <td>
                        <a asp-controller="Game" asp-action="Details" asp-route-id="@item.WishlistItem.Game.GameId">
                            @if (item.Image != null)
                            {<img height="50" width="100" src="@item.Image.ImageURL">}
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Game" asp-action="Details" asp-route-id="@item.WishlistItem.Game.GameId"
                           class="text-decoration-none">
                            <p class="text-dark font-weight-bold mb-0">
                                @Html.DisplayFor(modelItem => item.WishlistItem.Game.Name)
                            </p>
                            <p class="text-secondary mb-0">
                                @Html.DisplayFor(modelItem => item.WishlistItem.Game.Developer)
                            </p>
                        </a>
                    </td>
                    <td>
                        <span class="text-secondary">
                            @Html.DisplayFor(modelItem => item.WishlistItem.Game.GameType.Name)
                        </span>
                    </td>
                    <td>
                        @if (item.RatingAverage == 0)
                        {
                            <span class="text-secondary font-italic" title="Insufficient ratings to calculate an average">Rating n/a</span>
                        }
                        else
                        {
                            <span title="Rating: @Math.Round(item.RatingAverage, 1, MidpointRounding.AwayFromZero)">
                                @for (int i = 0; i < 5; i++)
                                {
                                    if (item.RatingAverage <= i)
                                    {
                                        <i class="fa fa-star-o text-secondary" aria-hidden="true"></i> // empty star
                                    }
                                    else if (item.RatingAverage < i+1)
                                    {
                                        <i class="fa fa-star-half-o text-secondary" aria-hidden="true"></i> // half star
                                    }
                                    else
                                    {
                                        <i class="fa fa-star text-secondary" aria-hidden="true"></i> // full star
                                    }
                                }
                            </span>
                        }
                    </td>
                    <td>
                        <span class="cursor-help text-secondary" title="@item.WishlistItem.AddedOn?.ToString("MMM dd h:mm tt")">
                            <small>
                                @(item.WishlistItem.AddedOn?.ToString("yyyy/MM/dd"))
                            </small>
                        </span>
                    </td>
                    <td>
                        @if (item.Discount != null)
                        {
                            <div class="d-flex">
                                <div class="mr-2">
                                    <span class="moist-discount-regular-price text-secondary">@item.WishlistItem.Game.RegularPrice</span>
                                    <span class="moist-discount-price text-dark">@item.Discount.DiscountPrice</span>
                                </div>
                                <span class="moist-discount-percent shadow rounded moist-tooltip">
                                    @string.Format("{0:0%}", item.Discount.DiscountPrice / item.WishlistItem.Game.RegularPrice)
                                </span>
                            </div>
                            <small class="text-secondary">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                @(item.Discount.DiscountFinish.ToString("MMM dd h:mm tt"))
                            </small>
                        }
                        else
                        {
                            <h5 class="text-dark font-weight-bold">@item.WishlistItem.Game.RegularPrice</h5>
                        }
                    </td>
                    <td>
                        @if (!item.IsInCart)
                        {
                            <form asp-route-gameId="@item.WishlistItem.Game.GameId" asp-route-recipientUserId="@Model.User.Id" asp-controller="Cart" asp-action="Add">
                                <button type="submit" class="btn btn-sm btn-outline-secondary gradient-button" title="Add to cart"><i class="fa fa-shopping-cart text-dark" aria-hidden="true"></i></button>
                            </form>
                        }
                    </td>
                    <td class="p-0">
                        @if (User.Identity.Name == Model.User.UserName)
                        {
                            <form asp-route-gameId="@item.WishlistItem.Game.GameId" asp-controller="Wishlist" asp-action="Remove">
                                <button type="submit" class="btn btn-link text-danger" title="Remove"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4 class="text-light font-weight-light text-uppercase text-center mt-3">The wishlist is empty.</h4>
}
